@media screen and (max-width: 1150px) {
    .menu {
        height: 100px;
    }

    .logo img{
        max-width: 80px;
    }

    .menu a{     
        font-size: 12px;
        font-weight: normal;
    }

    .header-container {        
        padding-top: 180px;
    }

    .headline {
        width: 40%;
        height: 300px;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;    
    }

    .headline h1 {        
        font-size: 1.7em;
        width: 100%;
    }

    .headline h2 {
        margin-bottom: 10px;
        font-size: 1.2em;
    }

    main h2 {
       font-size: 1.2em;
    } 

    .card h3 {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 800px) {
    .headline h2 {        
        font-size: 0.8em;
    }

    .headline p {        
        font-size: 1em;   
        line-height: 1.2em;           
    }

    .bg-img {      
        height: 300px;    
    }

    .btn-run {       
        font-size: 1em;
        color: white;         
        width: 150px;
        text-align: center;
        padding: 15px;
        border-radius: 10px;       
    }
    main h2 {
        margin-top: 5px;
        font-size: 0.8em;
     } 

     .sections {
        flex-direction: column;
    }
}

@media screen and (max-width: 680px) {
    .logo {
        text-align: center;
    }

    .menu {
        display: none;
    }  

    .headline {
        width: 80%;
    }

    .bg-img{
        display: none;
    }

    .card h3 {
        font-size: 0.6em;
    }

}    