@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed:wght@400;700&display=swap');

:root {
    --cor1: #8f917c;
    --cor2: #e68567;
    --cor3: #5c5c5d;
    --cor4: #3a5165;
    --cor5: #d51f22; 
    --cor6: #003366;  
    
    --press-start: 'Press Start 2P', cursive;
    --roboto2: 'Roboto Condensed', sans-serif;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 15px;
}

.logo {
    flex: 10%;
    margin-left: 10%;
    text-align: left;
}

.logo img{
    max-width: 120px;
}

.menu {
    flex: 70%;
    font-family: var(--press-start);
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.menu a{
    text-decoration: none;
    color: var(--cor5);
    font-size: 20px;
    transition: 0.2s;
}

.menu a:hover {
    color: var(--cor6);
    border-bottom: 3px solid var(--cor6);
}

#btn-style {
    margin-right: 10%;
    padding: 10px 20px;
    background-color: var(--cor6);
    color: white;
    border-radius: 5px;
    border: 3px solid var(--cor6);
    transition: 0.2s;    
}

#btn-style:hover {
    background-color: white;
    color: var(--cor6);    
}

/* conteudo headline */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.headline {
    width: 40%;
    height: 500px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.headline h1 {
    font-family: var(--press-start);
    color: var(--cor5);
    font-size: 2.9em;
    text-shadow: 1px 1px 2px black;
}

.headline h2 {
    font-family: var(--press-start);
    color: var(--cor6);
    margin-bottom: 20px;
}

.title02 {
    font-size: 1.9em;
}

.headline p {
    font-family: var(--roboto2);
    line-height: 30px;
    font-size: 1.7em;
    color: var(--cor4);
    text-align: justify;
    max-width: 90%;
}

.btn-run {
    font-family: var(--roboto2);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    color: white;
    background-color: var(--cor5);   
    width: 200px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: 0.2s;
}

.btn-run:hover {
    background-color: var(--cor2);
}

.bg-img {
    width: 40%;
    height: 500px;
    margin-right: 10%;
}

.bg-img img{
    max-width: 120%;
}

/* main content */
main {
    margin-top: 250px;
    /* border: 1px solid black; */
}

main h2 {
    text-align: center;
    margin: 30px 0 ;
    font-family: var(--press-start);
    color: var(--cor5);
}

.sections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%; */
    margin: 10%;
}

.card {
    width: 30%;
    border: 1px solid var(--cor4);
    padding: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.card .card-img {
    margin: 0 auto;
    display: block;

    /* border: 1px solid black; */
}

.card h3 {
    text-align: center;
    font-family: var(--press-start);
    color: var(--cor6);
    margin-bottom: 20px;
}

.card p {
    font-family: var(--roboto2);
    text-align: justify;
    line-height: 1.3em;
}

.other-text {
    display: none;
}

.card:hover {
    background-color: var(--cor4);
    color: white;
}

.card:hover .card-img {
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .other-text, .other-text h3{
    display: block;
    color: white;
    font-weight: normal;
}

/* footer */
footer {
    margin-top: 200px;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(180deg, var(--cor4), var(--cor6), black);
    text-align: center;
    border-top: 3px solid var(--cor5);

    display: flex;
    justify-content: center;
    align-items: center;
}

footer h2 {
    font-family: var(--press-start);
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 4px black;
}

footer p {
    font-family: var(--roboto2);
    color: white;
    margin-top: 30px;
}